@import url('https://fonts.google.com/share?selection.family=Bebas%20Neue%7CMontserrat:ital,wght@0,400;0,700;1,400');

body{
    font-family: 'Montserrat', sans-serif;
    color: #0D0D0D;
    background-color: #F2F2F2;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 40px;
    font-family: 'Bebas Neue';
    color: #0D0D0D;
}

h2{
    font-size: 30px;
    font-family: 'Bebas Neue';
    color: #0D0D0D;
}

h3{
    font-size: 25px;
    color: #0D0D0D;
}

p, ul, ol, dd, dt, li, nav, input{
    font-size: 16px;
}



button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

img{
    max-width: 100%;
    height: auto;
}

.nav-menu{
    display: flex;
    align-items: normal;
    justify-content: space-between;
    background-color: #FFFFFF;
    color: #EB5428;
    text-transform: uppercase;
    font-weight: bold;
    height: 145px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.nav-menu div{
    text-align: center;
}

.nav-menu img{
    padding-top: 28px;
}

.logo-button{
    width: 100px;
    height: 145px;
    padding: 0;
}

.avatar-button{
    width: 80px;
}

.nav-menu .avatar-button p{
    color: #0D0D0D;
    font-family: 'Bebas Neue';
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}

.nav-menu div img{
    width: 60px;
    height: 60px;
}

.nav-menu .logo-button{
    background-color: #EB5428;
}
.recipe-header{
    text-align: center;
    margin: 20px;
}

.search-button{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 300px;
    height: 50px; 
    border: #0D0D0D;
    background-color: #ffffff; 
    padding: 5px 15px; 
    margin: 30px auto;
    border: 2px solid #EB5428;
}

.search-button svg{
    color: #FFFFFF;
}
.actions{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    height: 800px;
}

.button-column{
    display: flex;
    flex-direction: column;
    gap: 25px;
    height: 700px;
    padding: 15px;
    border: #EB5428 solid 3px;
    justify-content: space-evenly;
}

.button-column button{
    height: 100px;
    width: 100px;
}
.button-column svg{
    height: 50px;
    width: 50px;
}


.recipe-content{
    background-color: #F2F2F2;
    border-radius: 10px;
    display: flex;
    justify-content: normal;
    flex-direction: column;
}

.ingredients{
    width: 45%;
    margin-right: 5%;
}

.ingredients h3{
    font-size: 24px;
    color: #0D0D0D;
}

.ingredients ul{
    list-style-type: circle;
    padding: 0;
}

.ingredients ul li{
    margin-bottom: 10px;
    font-size: 16px;
}

.directions{
    width: 45%;
}

.directions h3{
    font-size: 24px;
    color: #0D0D0D;
}

.directions ol{
    list-style-position: inside;
    padding: 0;
}

.directions ol li{
    margin-bottom: 15px;
    font-size: 16px;
}

.ingredients, .directions {
    padding: 20px;
    margin: 20px 0;
    background-color: #F2F2F2;
    border-radius: 10px;
}

.ingredients ul, .directions ol{
    list-style-position: inside;
}

.ingredients ul li, .directions ol li{
    padding: 5px 0;
}

.side-dishes{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #7ABFBF;
}

.side-dish{
    margin: 10px;
    text-align: center;
}

.side-dish img{
    width: 150px;
    height: 150px;
}

.side-dish .rating{
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-dish .rating svg{
    margin: 0 2px;
    fill: #EB5428;
    border: 2px #F2F2F2;
}

.side-dish figcaption{
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

footer{
    background-color: #F2F2F2;
    text-align: center;
    padding: 20px;
}

footer p{
    color: #0D0D0D;
    font-weight: bold;
    text-transform: uppercase;
}

.connect button{
    background-color: transparent;
    color: #EB5428;
    border: none;
    cursor: pointer;
}

footer img{
    width: 25%;
    margin-top: 20px;
}